---
import { Image } from "astro:assets";
import Imgs from "@data/constants/imgs";

import Apresentation from "@components/astro/Apresentation.astro";
import AboutP from "@components/astro/aboutP.astro"
import ScrollAnimation from "@components/ts/scrollAnimation";

const Banner = Imgs.local.AndreValerioposing1;
const Portrait = Imgs.local.AndreValeriohead;
const Portrait2 = Imgs.local.AndreValerioflorestportrait1;
import { author } from '@data/constants/author';

const h1Html = `A little about <strong>${author.name}</strong>`;
---

<main
    itemprop="mainEntity" itemscope itemtype="https://schema.org/MusicArtist"
>
    <Apresentation src={Banner} alt={`${author.name} (Banner)`} html={h1Html} />
    <section class="about" id="about" aria-labelledby="title-header">
        <div class="title">
            <h2 id="title-header">Who is {author.name}</h2>
            <hr>
        </div>
        <ScrollAnimation className="highlight-animation" threshold={0.2} client:load  >
            <AboutP>
                <div class="image image--first" slot="div-1" >
                    <Image
                        src={Portrait}
                        alt={`${author.name} (Portrait)`}
                        title={`${author.name} (Portrait)`}
                        layout="constrained"
                        priority
                        width={400}
                    />
                </div>
                <div class="image image--second" slot="div-2" >
                    <Image
                        src={Portrait2}
                        alt={`${author.name} (Portrait 2)`}
                        title={`${author.name} (Portrait 2)`}
                        layout="constrained"
                        priority
                        width={450}
                    />
                </div>
            </AboutP>
        </ScrollAnimation>
    </section>
</main>

<style lang="scss" is:global >
    $max-width: 850px;

    .about {
        margin-inline: auto;
        max-width: $max-width;
        padding: 35px 20px;
        font-size: clamp(1rem, 1.5vw + 0.5rem, 1.2rem);
        line-height: 2;
        color: var(--text-color);

        @media only screen and (max-width: $max-width) {
            text-align: center;
            font-size: 1rem;
        }
        
        strong {
            font-weight: bold;
            color: var(--highlight-color);
        }

        .title {
            h2 { font-size: 2rem; }
            padding-bottom: 25px;
        }

        .image {
            margin: 10px 20px;
            
            &.image--first { float: right;}
            &.image--second { float: left; }
        }
    }
</style>