---
import { Image, inferRemoteSize } from 'astro:assets';
import AuthorHeader from '@components/authorHeader';
import ScrollAnimation from "@components/scrollAnimation"
import ScrollDown from '@components/scrollDown.astro';
// import "@styles/_pages/index.scss"; // * Import like this if global styles
import "@styles/_components/indexGlobal.scss"; // * Need this because Astro scoped styles bug
import Imgs from '@data/imgs';
const { background } = Imgs.cdn;

const {width, height} = await inferRemoteSize(background);

// import test from "@assets/test.png"
---

<main style="height: 2000vh;">
    <section 
        class="apresentation"
        id="apresentation"
        {/* TODO: Make SEO atributes */}
    >
        <div class="content">
            <div class="overlay"></div>
            <Image
                src={background}
                alt="André Valério photo"
                width={width}
                height={height}
                fit="cover"
                layout="full-width"
                priority={true}
                {/* TODO: Make SEO  atributes*/}
            />
            <ScrollAnimation client:load repeat={true} >
                <AuthorHeader headingLevel={2} hideJob={false} data-style="presentation-header" />
            </ScrollAnimation>

            <div class="scroll-container">
                <ScrollDown style="opacity: 0.4;" />
            </div>

            {/*	
                TODO: Scroll gif
                <img src="" alt="" >
            */}
        </div>

    </section>
</main>

{/* Need for scoped styles... */}
<style lang="scss" > @forward "@styles/_pages/index"; </style>