---

import { Picture } from 'astro:assets';
import AuthorHeader from '@components/ts/authorHeader';
import ScrollAnimation from '@components/ts/scrollAnimation';
import ScrollDown from '@components/astro/scrollDown.astro';
import AboutParagraph from '@components/astro/aboutP.min.astro';
import Songs from '@components/astro/Songs.astro';
import Artist from "@components/astro/Artist.astro";
import Carousel from "@components/ts/Carousel"
import Testimonials from '@components/astro/Testimonials.astro';
// import "@styles/_pages/index.scss"; // * Import like this if global styles

import Imgs from '@data/imgs';
import { author } from '@data/author';
import Pages from "@data/pages"
const { background } = Imgs.cdn;
const { intro } = Imgs.videos;

// import test from "@assets/test.png"
---

<main
    itemprop="mainEntity" itemscope itemtype="https://schema.org/MusicArtist"
>

    {/* Apresentation section - User enters and see this */}
    <section
        class="apresentation"
        id="apresentation"
        itemscope
        itemtype="https://schema.org/CreativeWork"
        aria-labelledby="apresentation-heading"
        aria-label="apresentation-heading"
    >
        <div class="content parallax">
            <div class="bg-container paralax__bg">
                <div aria-hidden="true" class="overlay"></div>
                <Picture
                    class="parallax__fixed"
                    src={background}
                    alt={`${author.name} - ${author.job}`}
                    title={`${author.name} - ${author.job}`}
                    fit="cover"
                    layout="full-width"
                    priority
                    inferSize
                    {/* Item atributes for SEO */}
                    itemtype="https://schema.org/ImageObject"
                    itemprop="contentUrl"
                    contentUrl={background}
                    itemprop="author"
                    content="André Valério"
                    itemprop="description"
                    content="André Valério, musician and composer, captured in his natural environment."
                />
                <div aria-hidden="true" class="scroll-container parallax__fixed">
                    <ScrollDown style="opacity: 0.3;" />
                </div>
            </div>
            
            <div class="paralax__hero">
                <ScrollAnimation client:load repeat={true} >
                    <AuthorHeader headingLevel={2} hideJob={false} data-style="presentation-header" id='header-top' />
                </ScrollAnimation>
            </div>

            {/*
                <style lang="scss" is:global> @forward "@styles/_components/Paralax.scss"; </style>
            */}
        </div>

    </section>

    <div class="main-content">

        {/* About section - Tells user who is André Valério */}
        <section
            class="about"
            id="about"
            itemscope
            itemtype="https://schema.org/Person"
            aria-labelledby="About"
        >
            <div class="content">
                <h2>
                    About me
                </h2>
                <ScrollAnimation className="highlight-animation" threshold={0.2} client:load  >
                    <AboutParagraph />
                </ScrollAnimation>
            </div>

            <Artist />

            {/* Maybe more content in future */}
        </section>

            {/* Songs section using Spotify API */}
            <section
                id="songs"
                class="songs"
                itemscope
                itemtype="https://schema.org/MusicPlaylist"
                aria-labelledby="songs-heading"
            >
                <meta itemprop="name" content="Spotify Music Section" />
                <meta itemprop="description" content={`Songs Section by ${author.name} (Spotify albums).`} />

                <h2>Songs/Albums</h2>

                <div class="content">
                    <Songs />
                </div>
            </section>

        <section
            class="teach" id="teach"
            {/* TODO: make SEO better */}
        >
            <div class="content">
                <h2>Let's play some guitar!</h2>
                {/* Youtube André Valério video lesson intro */}
                <div class="video-container">
                    <iframe
                        id="lessons-intro"
                        class="box-sh"
                        src={`https://www.youtube.com/embed/${intro}`}
                        title="André Valério lessons introduction"
                        frameborder="0"
                        loading="lazy"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen>
                    </iframe>
                </div>

                <p>
                    Hey there! Are you looking to learn <strong>guitar</strong> online? Look no further! I offer <strong>personalized lessons</strong> tailored to your specific interests and skill level.
                    With my extensive experience in <strong>rock</strong>, <strong>pop</strong>, <strong>jazz</strong>, and <strong>blues</strong>, I can help you learn the <strong>songs</strong> and <strong>techniques</strong> you've always wanted to play. And with real <strong>audio</strong> embedded in my <strong>tabs</strong>, you'll be able to hear and see exactly how to master each song.
                    But don't just take my word for it - book your <strong>online guitar lessons</strong> with me today and let's play together! Whether you're a <strong>beginner</strong> or an <strong>experienced player</strong> looking to take your skills to the next level, I'm here to help you reach your <strong>goals</strong>.
                </p> 

                <div class="testimonials" id="testimonials">
                    <h3>What my students say...</h3>
                    <div class="wrapper">
                        <Testimonials />
                    </div>
                </div>

                <p> 
                    <span>
                        So what are you waiting for?
                        <a href={Pages.teach} target="_blank" rel="noopener noreferrer">Let's make some <strong>music</strong>!</a>
                    </span>
                </p>
            </div>

            <div class="bottom">
                {/* TODO: make testimonials slider */}
            </div>
        </section>

    </div>
</main>

{/* Need for scoped styles... */}
<style lang="scss" > @forward "@styles/_pages/index"; </style>

<style lang="scss" is:global >
    @use '@styles/variables' as v;

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
    }
    .box-sh {
        &:hover {
            box-shadow: v.$github-box-shadow;
        }
        transition: box-shadow 200ms;
    }
</style>
