---
import Logo from "./Logo.astro";
import Pages from '@data/pages.ts';
---

<header itemscope itemtype="https://schema.org/WPHeader">
    <div>
        <a title="Home Page - André Valério" class="aria-link" href={Pages.home} 
           rel="noopener noreferrer" aria-current="page" itemprop="url">
            <Logo />
        </a>

        <nav id="navbar" aria-label="Main navigation" itemscope itemtype="https://schema.org/SiteNavigationElement">
            <ul aria-label="Navigation list" title="Navigation list" class="nav-list hide-title">
                <hr>
                <li class="nav-item">
                    <a href={Pages.home} class="nav-link aria-link" onclick="toggleMenu();" 
                       rel="noopener noreferrer" aria-current="page" title="Home Page - André Valério" 
                       itemprop="url">Home</a>
                </li>
                <hr>
                <li class="nav-item">
                    <a href={Pages.about} class="nav-link aria-link" onclick="toggleMenu();" 
                       rel="noopener noreferrer" title="About section - André Valério" 
                       itemprop="url">About</a>
                </li>
                <hr>
                <li class="nav-item">
                    <a href={Pages.songs} class="nav-link aria-link" onclick="toggleMenu();" 
                       target="_blank" rel="noopener noreferrer" title="Songs/Albums Page - André Valério" 
                       itemprop="url">Songs/Albums</a>
                </li>
                <hr>
                <li class="nav-item">
                    <a href={Pages.contact} class="nav-link aria-link" onclick="toggleMenu();" 
                       target="_blank" rel="noopener noreferrer" title="Contact Page - André Valério" 
                       itemprop="url">Contact</a>
                </li>
                <hr>
                <li class="nav-item">
                    <a href={Pages.shop} class="nav-link aria-link" onclick="toggleMenu();" 
                       target="_blank" rel="noopener noreferrer" title="Shop/Merchant Page - André Valério" 
                       itemprop="url">Shop</a>
                </li>
                <hr>
            </ul>
        </nav>

        <button tabindex="0" onclick="toggleMenu();" class="menu-btn" 
                type="button" aria-controls="navbar" aria-expanded="false" 
                aria-label="Open/Close Navigation bar" title="Open/Close navbar">
            <span class="sr-only">Open/Close Navigation bar</span>
            ☰ {/* Default Menu icon */}
        </button>
    </div>
</header>


<script defer>
    function toggleMenu() {
        const navbar = document.getElementById('navbar');
        const menuButton = document.querySelector('.menu-btn');
        const isExpanded = menuButton.getAttribute('aria-expanded') === 'true';
        
        // Toggle navbar
        navbar.style.right = isExpanded ? '100%' : '0';
        
        // Update aria-expanded for acessibility
        menuButton.setAttribute('aria-expanded', !isExpanded);
        
        // Changes button icon
        menuButton.innerHTML = isExpanded ? '☰' : '✖';
    }
</script>

<script defer>
    // Function for adding .last-clicked <a>
    const links = document.querySelectorAll('.nav-link');
    
    links.forEach(link => {
        link.addEventListener('click', () => {
            // Remove a classe 'last-clicked' de todos os links
            links.forEach(l => l.classList.remove('last-clicked'));
            
            // Adiciona a classe 'last-clicked' ao link clicado
            link.classList.add('last-clicked');
        });
    });
</script>

<script defer>
    // Function to handle aria-links
    const linksAria = document.querySelectorAll('.aria-link');
    
    linksAria.forEach(link => {
        link.addEventListener('click', () => {
            // Remove aria-current from all links
            linksAria.forEach(l => l.removeAttribute('aria-current'));
            
            // Add aria-current="page" to the clicked link
            link.setAttribute('aria-current', 'page');
        });
    });
</script>

<style lang="scss">
    $header-height: 56px;

    header {
        position: fixed;
        top: 0;
        left: 0;
        display: inline-flex;
        justify-content: center;
        width: 100%;
        z-index: 100;
        background-color: var(--black-color);
        height: $header-height;

        & > div {
            width: clamp(100px, 95%, 99%);
            height: 100%;
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
        }

        .menu-btn {
            all: unset;
            padding-right: 10px;
            color: var(--white-color);
            cursor: pointer;
            font-size: 48px;
            z-index: 10;

            &:focus {
                // May need to style later for accessibility reasons...
            }
        }
    }

    nav {
        position: fixed;
        background-color: var(--black-color);
        right: 100%;
        bottom: 0;
        height: calc(100% - $header-height);
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;

        &.visible {
            right: 0 !important;
        }

        transition: right 300ms ease-in-out;

        .nav-list {
            position: relative;
            width: 100%;
            left: 0;
            padding: 0;

            .nav-item {
                padding: 10px 0 10px 0;
                list-style: none;
                font-size: 2rem;
                margin-left: 20px;
                
                a.nav-link {
                    text-align: center;
                    color: var(--white-color);
                    text-decoration: none;

                    &.last-clicked {
                        text-decoration: underline;
                    }
                }

            }
        }
    }
</style>