---
import { Image } from 'astro:assets';
import { author } from "@data/author"
import Pages from '@data/pages';
import Imgs from '@data/imgs';
import UrlLink from '@components/nav/urlLink';

const socialSize = 92;
const socialPx : string = `${socialSize}px`;
---

<footer
    id="footer"
    {/* TODO: make SEO atributes */}
>
    <div class="content">
        <div class="social">
            <ul>
                <UrlLink href={Pages.social.linktree} title="Linktree - André Valério" ariaLabel="Linktree" className="aria-link" target="_blank">
                    <Image
                        src={Imgs.cdn.linktree}
                        alt="Linktree - André Valério"
                        height={socialSize} width={socialSize}
                    />
                </UrlLink>
                <UrlLink href={Pages.social.youtube} title="Youtube - André Valério" ariaLabel="Youtube" className="aria-link" target="_blank">
                    <Image
                        src={Imgs.cdn.youtube}
                        alt="Youtube - André Valério"
                        height={socialSize} width={socialSize}
                    />
                </UrlLink>
                <UrlLink href={Pages.social.instagram} title="Instagram - André Valério" ariaLabel="Instagram" className="aria-link" target="_blank">
                    <Image
                        src={Imgs.cdn.instagram}
                        alt="Instagram - André Valério"
                        height={socialSize} width={socialSize}
                    />
                </UrlLink>
                <UrlLink href={Pages.social.soundslice} title="Soundslice - André Valério" ariaLabel="Soundslice" className="aria-link" target="_blank">
                    <Image
                        src={Imgs.cdn.soundslice}
                        alt="Soundslice - André Valério"
                        height={socialSize} width={socialSize}
                    />
                </UrlLink>
                <UrlLink href={Pages.social.facebook} title="Facebook - André Valério" ariaLabel="Facebook" className="aria-link" target="_blank">
                    <Image
                        src={Imgs.cdn.facebook}
                        alt="Facebook - André Valério"
                        height={socialSize} width={socialSize}
                    />
                </UrlLink>
            </ul>
        </div>
        <div class="links">
            <ul>
                <UrlLink href={Pages.home} title="Home Page - André Valério" ariaLabel="Home" className="pseudo-link aria-link">
                    Home
                </UrlLink>
                <hr>
                <UrlLink href={Pages.about} title="About section - André Valério" ariaLabel="About" className="pseudo-link aria-link">
                    About
                </UrlLink>
                <hr>
                <UrlLink href={Pages.songs} title="Songs/Albums Page - André Valério" ariaLabel="Songs/Albums" target="_blank" className="pseudo-link aria-link">
                    Songs/Albums
                </UrlLink>
                <hr>
                <UrlLink href={Pages.videos} title="Videos Page - André Valério" ariaLabel="Videos" target="_blank" className="pseudo-link aria-link">
                    Videos
                </UrlLink>
                <hr>
                <UrlLink href={Pages.contact} title="Contact Page - André Valério" ariaLabel="Contact" target="_blank" className="pseudo-link aria-link">
                    Contact
                </UrlLink>
                <hr>
                <UrlLink href={Pages.teach} title="Teach Page - André Valério" ariaLabel="Teach" target="_blank" className="pseudo-link aria-link">
                    Teach
                </UrlLink>
            </ul>
        </div>
        <div>
            <div class="copyright">
                <p>
                    &copy; {new Date().getFullYear()} André Valério.  All rights reserved.
                </p>
            </div>
            <div class="dev">
                <aside>
                    <small>
                        <p>Made by 
                        <a
                            href={author.dev.site} target="_blank" rel="noopener noreferrer">{author.dev.name}
                            {/* TODO: Make SEO shit */}
                        </a>
                        <br>
                        <span class="credits">
                            Icons by
                            <a
                            href={author.dev.icons8} target="_blank" rel="noopener noreferrer">Icons8
                            </a>
                        </span>
                        </p>
                    </small>
                </aside>
            </div>
        </div>
    </div>
<footer/>

<style lang="scss" define:vars={{ socialPx }} >
    @use "@styles/variables" as v;

    footer {
        background-color: var(--black-color);
        padding: 1rem;
        text-align: center;
        min-width: 100%;

        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: 20px;

            .social {
                ul {
                    min-width: 100%;
                    list-style-type: none;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;

                    :global(li) {
                        $transition: 300ms ease-in-out;
                        background-color: var(--primary-color);
                        border: 1px solid var(--fourth-color);
                        flex-grow: 1;
                        max-width: 400px;
                        min-width: var(--socialPx);
                        transition: background-color $transition, box-shadow $transition;

                        :global(a) {
                            display: block;
                            width: 100%;
                            height: 100%;
                            padding: 30px;
                        }

                        :global(img) {
                            margin-inline: auto;
                            object-fit: cover;
                            min-width: var(--socialPx);
                            min-height: var(--socialPx);
                            z-index: 1;
                            filter: grayscale(80%);
                            opacity: 0.7;
                            transition: filter $transition, opacity 300ms;
                        }

                        &:hover, &:focus {
                            background-color: var(--secondary-color);
                            box-shadow: v.$over-box-shadow;
                            :global(img) {
                                filter: grayscale(0%);
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            .links {
                ul {
                    list-style-type: none;
                    width: fit-content;
                    margin-inline: auto;

                    :global(li) {
                        $gap: 10px;
                        text-align: center;
                        padding: $gap 0;
                        
                        :global(a) {
                            text-decoration: none;
                            color: var(--white-color);
                            cursor: pointer;
                            text-decoration: none;
                            font-size: 1.2rem;
                        }
                    }
                hr { opacity: 0.3; }
                }
            }
            .dev {
                opacity: 0.7;
                a {
                    text-decoration: none;
                    &:hover, &:focus {
                        text-decoration: underline;
                        opacity: 1;
                    }
                }
            }
        }
    }
</style>